In [57]:
import pandas as pd
import seaborn as sns
import re
import matplotlib.pyplot as plt
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier 
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import accuracy_score

In [58]:
df = pd.read_csv('training_preprocessed.csv')[:50000]
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month
0,1,0,0,1,893,3,1,2.83,4.95,27,...,1,0,4,0,1,1,1,0,0,4
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,1,0,4,0,1,1,1,0,0,4
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,1,0,4,0,1,1,1,0,0,4
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,1,0,4,0,1,1,1,0,0,4
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,1,0,4,0,1,1,1,0,0,4

In [59]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_brand_bool', 'prop_location_score1',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'random_bool', 'click_bool', 'booking_bool',
       'month'],
      dtype='object')

In [60]:
X = df.drop(['booking_bool','position','random_bool','prop_id'], axis=1)
y = df['booking_bool']

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
# save click_bool and srch_id from test
click_list = X_test['click_bool']
srchid_list = X_test['srch_id']


# remove click_bool and srch_id from train and test
X_train = X_train.drop(['click_bool', 'srch_id'], axis=1)
X_test = X_test.drop(['click_bool', 'srch_id'], axis=1)

In [63]:
# Instantiate the NearestNeighbors model with the desired number of neighbors (k)
k = 5  # Set the desired number of neighbors
knn = NearestNeighbors(n_neighbors=k)

In [64]:
# Fit the model to the training data
knn.fit(X_train, y_train)

NearestNeighbors()

In [65]:
# Find the k nearest neighbors for each sample in the testing set
distances, indices = knn.kneighbors(X_test)

# Perform prediction by taking the average of the labels of the nearest neighbors
y_pred = []
for neighbor_indices in indices:
    neighbor_labels = y_train.iloc[neighbor_indices]  # Get the labels of the neighbors
    neighbor_mean = neighbor_labels.mean(axis=0)  # Compute the average of the labels

In [66]:
test_df =  pd.read_csv('test_preprocessed.csv')
prop_ids = test_df['prop_id']
srch_ids = test_df['srch_id']
test_df = test_df.drop(['prop_id', 'srch_id'],axis=1)

In [67]:
y_pred

[]