In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('training_preprocessed.csv')
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month
0,1,0,0,1,893,3,1,2.83,4.95,27,...,1,0,4,0,1,1,1,0,0,4
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,1,0,4,0,1,1,1,0,0,4
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,1,0,4,0,1,1,1,0,0,4
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,1,0,4,0,1,1,1,0,0,4
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,1,0,4,0,1,1,1,0,0,4

In [3]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_brand_bool', 'prop_location_score1',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'random_bool', 'click_bool', 'booking_bool',
       'month'],
      dtype='object')

In [4]:
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month
0,1,0,0,1,893,3,1,2.83,4.95,27,...,1,0,4,0,1,1,1,0,0,4
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,1,0,4,0,1,1,1,0,0,4
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,1,0,4,0,1,1,1,0,0,4
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,1,0,4,0,1,1,1,0,0,4
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,1,0,4,0,1,1,1,0,0,4

Add a column with an interaction between prop-starrating and prop_location_score1 to represent the overall desirability of a hotel based on star rating and location score

In [5]:
# Create a new feature by multiplying 'prop_starrating' and 'prop_location_score1'
df['prop_starrating_location_interaction'] = df['prop_starrating'] * df['prop_location_score1']

In [6]:
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month,prop_starrating_location_interaction
0,1,0,0,1,893,3,1,2.83,4.95,27,...,0,4,0,1,1,1,0,0,4,8.49
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,0,4,0,1,1,1,0,0,4,8.80
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,0,4,0,1,1,1,0,0,4,6.60
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,0,4,0,1,1,1,0,0,4,5.66
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,0,4,0,1,1,1,0,0,4,10.56

In [7]:
# Create a new feature interaction between price_usd and prop_log_historical_price to capture the 
# relative price compared to historical prices 
df['price_historical_interaction'] = df['price_usd'] * df['prop_log_historical_price']

In [8]:
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month,prop_starrating_location_interaction,price_historical_interaction
0,1,0,0,1,893,3,1,2.83,4.95,27,...,4,0,1,1,1,0,0,4,8.49,0.000026
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,4,0,1,1,1,0,0,4,8.80,0.000044
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,4,0,1,1,1,0,0,4,6.60,0.000045
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,4,0,1,1,1,0,0,4,5.66,0.000134
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,4,0,1,1,1,0,0,4,10.56,0.000036

In [9]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_brand_bool', 'prop_location_score1',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'random_bool', 'click_bool', 'booking_bool',
       'month', 'prop_starrating_location_interaction',
       'price_historical_interaction'],
      dtype='object')

In [10]:
# Create a new feature interaction between srch_length_of_stay and srch_booking_window to represent
# the total duration of the stay and planning horizon
df['total_time_duration'] = df['srch_length_of_stay'] * df['srch_booking_window']

In [11]:
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month,prop_starrating_location_interaction,price_historical_interaction,total_time_duration
0,1,0,0,1,893,3,1,2.83,4.95,27,...,0,1,1,1,0,0,4,8.49,0.000026,0
1,1,0,0,1,10404,4,1,2.20,5.03,26,...,0,1,1,1,0,0,4,8.80,0.000044,0
2,1,0,0,1,21315,3,1,2.20,4.92,21,...,0,1,1,1,0,0,4,6.60,0.000045,0
3,1,0,0,1,27348,2,1,2.83,4.39,34,...,0,1,1,1,0,0,4,5.66,0.000134,0
4,1,0,0,1,29604,4,1,2.64,4.93,4,...,0,1,1,1,0,0,4,10.56,0.000036,0

In [12]:
# Create a new column 'highly_rated_prop' based on 'prop_starrating'
df['highly_rated_prop'] = df['prop_starrating'].apply(lambda x: 1 if x >= 4 else 0)

In [13]:
# Add a categorical value which depicts the season a property was searched for
df['season'] = df['month'].map({1: 0, 2: 0, 3: 1, 4: 1, 5: 1, 6: 2, 7: 2, 8: 2, 9: 3, 10: 3, 11: 3, 12: 0})

Perform min-max scaling

In [14]:
# Select the numerical columns for scaling
numerical_columns = ['prop_starrating', 'prop_location_score1', 'prop_log_historical_price', 'position', 'price_usd', 'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count']

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the scaler on the numerical columns and transform the data
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [15]:
df.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_saturday_night_bool,random_bool,click_bool,booking_bool,month,prop_starrating_location_interaction,price_historical_interaction,total_time_duration,highly_rated_prop,season
0,1,0,0,1,893,0.6,1,0.405444,0.797101,0.666667,...,1,1,0,0,4,8.49,0.000026,0,0,1
1,1,0,0,1,10404,0.8,1,0.315186,0.809984,0.641026,...,1,1,0,0,4,8.80,0.000044,0,1,1
2,1,0,0,1,21315,0.6,1,0.315186,0.792271,0.512821,...,1,1,0,0,4,6.60,0.000045,0,0,1
3,1,0,0,1,27348,0.4,1,0.405444,0.706924,0.846154,...,1,1,0,0,4,5.66,0.000134,0,0,1
4,1,0,0,1,29604,0.8,1,0.378223,0.793881,0.076923,...,1,1,0,0,4,10.56,0.000036,0,1,1

In [16]:
df.to_csv('training_freek_feateng.csv', index=False)